* {
    font-family: "Arial";
}

html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #e66465, #9198e5);
}

.login {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: lightgray;
    padding: 10px;
}

form label {
    text-align: center;
    padding: 5px;
}

#loginBtn {
    padding: 5px;
    margin: 5px;
}

.txt_field {
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid palevioletred;
    transition: .5s;
}

.txt_field:focus {
    top: -5px;
    color: violet;
}

form > input {
    margin: 10px;
}

br + input[type=submit] {
    background-color: #e66465;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    transition: .5s;
}

#loginBtn:hover {
    top: -5px;
    background-color: violet;
}

span ~ input {
    width: 15px;
    height: 15px;
}

div h2 {
    color: #9198e5;
    text-align: center;

}

label h4 {
    color: #9198e5;
}

span {
    color: #9198e5;
}

label a {
    color: #9198e5;
}
